body {
  background-color: black;
}
img {
  background-position:center;
  background-repeat: no-repeat;
}
.title {
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: center;
}
h1 {
  color:red;
}
.container-class {
  width: 100%;
  display: flex;
  justify-content: center;
  color:red;
}
.compra {
  display: flex;
  justify-content: center;
}
